<li>
<%= role.alias %>
[<% if @user.has_role?(role.name) %>
<%= link_to 'удалить', {:controller=>'roles', :action=>'update', :id => role.id, :user_id => @user.id}, :method => :delete %>
<% else %>
<%= link_to 'добавить', {:controller=>'roles', :action=>'destroy', :id => role.id, :user_id => @user.id}, :method => :put %>
<% end %>]
</li>

