%table.main
	%tr
		%td
			%h2= @page.parent_id == nil ? 'Создание нового корневого раздела' : "Добавление нового раздела в '#{Page.find(@page.parent_id).name}'"
	%tr
		%td
			.body
				- form_for @page do |f|
					= f.hidden_field(:parent_id, :value => @page.parent_id)	
					= render :partial => 'form', :locals => {:f => f, :page => @page}
	%tr
		%td
			.bottom &nbsp;
