%table.main
	%tr
		%td
			%h2= @page.name
	%tr
		%td
			- tags = %w(a acronym b strong i em li ul ol h1 h2 h3 h4 h5 h6 blockquote br cite sub sup ins p img span strong font)
			.body
				- if notice
					%p#notice{:style=>'text-align:center;'}
						= notice
				!= sanitize(@page.body, :tags => tags, :attributes => %w(href title src))
			-#@page.body
	%tr
		%td
			.bottom &nbsp;
