<html>
<body>
<h3>
Для подтверждения своего аккаунта перейдите, пожалуйста, по следующей ссылке:
</h3>
<a href="http://localhost:3000/account/<%= @user.id %>/<%= @user.salt_key %>">подтвердить аккаунт</a>
</body>
</html>
